@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
  margin: 0px;
  padding: 0px;
}
.ConsumoAgua{
background-color: #1C792B;
margin-left: 40px;
margin-right: 150px;
}

.consumodelaguaTexto{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
 color: white;
 padding-left: 20px;
 padding-bottom: 5px;
 padding-top: 5px;
}

.ConsumoAguaCadaAnimal{
  background-color: #60A168;
  margin-left: 40px;
  margin-right: 800px;
  margin-top: -30px;
}

.ConsumoAguaCadaAnimalTexto{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}



.Vaca{

  margin-top: 100px;
  margin-left: 100px;
  margin-right: 850px;
}

.Vaca img:hover{
  transform: scale(1.15);
}


.h3vaca{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-left: 130px;
margin-top: -5px;
}

.Cerdo{
  margin-left: 550px;
  margin-top: -300px;
  margin-right: 400px;
}

.Cerdo img:hover{
  transform: scale(1.15);
}

.h3cerdo{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-left: 130px;
margin-top: 0px;
}

.Pollo{
  margin-left: 1000px;
  margin-top: -300px;
}

.Pollo img:hover{
  transform: scale(1.15);
}

.h3pollo{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  margin-left: 100px;
margin-top: 4px;
}



#SegundaParteVaca{
  display: none;
}
.ParaLaProduccionDe{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-top: 250px;
  text-align: center;
}

.ParaLaProduccionDe::after{
  content:' ';
  position: absolute;
  width: 350px;
  height: 4px;
  background-color: #32863E;
  margin-top: 50px;
margin-left: -335px;
}
