@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
  margin: 0px;
  padding: 0px;
}
.ConsumoAgua{
background-color: #1C792B;
margin-left: 40px;
margin-right: 150px;
}

.consumodelaguaTexto{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
 color: white;
 padding-left: 20px;
 padding-bottom: 5px;
 padding-top: 5px;
}

.volver{
  float: right;
  margin-top: -4.6em;
}
.boton{
  background-color: #1C792B;
  color: #fff;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 4em;
}

.datos{
  position: absolute;
  margin-left: 3vw;
  margin-top: 60vh;
}

.mapa{
  margin-left:-6vw;
  width:100vw;
}
.mapa:hover{
  cursor: pointer;
}

#eeuu{
  position: absolute;
  margin-left: 30vw;
}
.usa{
  fill: #8CFF9F;
}

#brasil{
  position: absolute;
  margin-left: 36vw;
  margin-top: 20vh;
}
#BR{
  fill: #50D867;
}

#argentina{
  position: absolute;
  margin-left: 34vw;
  margin-top: 45vh;
}
.Argentina{
  fill: #8CFF9F;
}

#espana{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
#ES{
    fill: #50D867;
}

#irlanda{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
#IE{
  fill: #2CBF45;
}

#inglaterra{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
.UnitedKingdom{
fill: #2CBF45;
}

#suiza{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
#CH{
    fill: #50D867;
}

#alemania{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
#DE{
    fill: #8CFF9F;
}

#checa{
  position: absolute;
  margin-left: 47vw;
  margin-top: 3vh;
}
#CZ{
    fill: #2CBF45;
}

#japon{
  position: absolute;
  margin-left: 57vw;
  margin-top: 3vh;
}
.Japan{
    fill: #50D867;
}

#india{
  position: absolute;
  margin-left: 45vw;
  margin-top: 13vh;
}
#IN{
  fill: #239937;
}

.slideContainer{
  width: 25%;
  position: absolute;
  margin-left: 38vw;
  margin-top: 82vh;
  border-width: 0;
}

.slider{
  height: 20px;
  -webkit-appearance: none;
  background: #B0D0B3;
  width: 100%;
  height: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0 1px 5px 1px black;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 35px;
  background: #1C792B;
  border-radius: 35%;
  cursor: pointer;
}

.slider::after{
  content: '2021';
  color: black;
  font-size: 1.5em;
  position: absolute;
  left: 93%;
  top: 121%;
}

.slider::before{
  content: '2000';
  color: black;
  font-size: 1.5em;
  position: absolute;
  left: -4%;
  top: 121%;
}

.slider::before{
  content: '2000';
  color: black;
  font-size: 1.5em;
  position: absolute;
  left: -4%;
  top: 121%;
}
